* {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}
body {
    background: #f3f2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}
html,
body {
    font-size: 100%;
    height: 100%;
    background: white;
}
html {
    background: #eee;
}

.logo{
    float: left;
    width: 90px;
    height: 90px;
    margin: -60px ;
}

.heading{
    text-align: center;
    margin-top: -250px;
    margin-bottom: 50px;
    font-size: 50px;
}

.box{
    padding: 20px;
    width: 80vw;
    height:auto;
    background: yellow;
    border-radius: 30px;
    margin-top: 10px;
}

.image{
    height: 20vh;
    width: 20vw;
    float: right;
}

.title{
    font-size: 30px;
    font-weight: bolder;
    color: red;
}

.name{
    font-size: 15px;
    color:black;
}

.author{
    float: right;
    margin-right: 60px;
    color: rgb(126, 126, 9);
}

.url{
    color: red;
    margin-top: 20px;
    text-decoration: red;
}

.publish{
    float:right;
    color:rgb(126, 126, 9);
    font-size: 10px;
}